  <!--The content below is only a placeholder and can be replaced.-->
  <div  style="color: black;height: 75px;text-align: center;">
    <h1>
      {{ title }}
    </h1>
    </div>
    
    <marquee id="mark">Welcome to this Platform for a new experience in LIBRARY Management!!!</marquee>
  
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
      <ul class="navbar-nav navbar-right">
      <a class="nav-link"  routerLink="login" *ngIf="!_auth.loggedIn()"  routerLinkActive="active">Login</a>
      <a class="nav-link"  routerLink="Books"style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="loggedUser()"  routerLinkActive="active">Books</a>
      <a class="nav-link"  routerLink="Authors"style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="loggedUser()" routerLinkActive="active" >Authors</a>
      
      <a class="nav-link" routerLink="Addbook" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="loggedUser()"  routerLinkActive="active">Addbook</a>
      <a class="nav-link" routerLink="Addauthor" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="loggedUser()" routerLinkActive="active" >Addauthor</a>
      <a class="nav-link" routerLink="Updatebook" style="cursor:pointer"  *ngIf="_auth.loggedIn()" (click)="loggedUser()"routerLinkActive="active">Updatebook</a>
      <a class="nav-link" routerLink="Updateauthor" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="loggedUser()" routerLinkActive="active" >Updateauthor</a>
      <a class="nav-link" routerLink="Logout" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="logoutUser()" routerLinkActive="active" >Logout</a>
      <a class="nav-link" style="cursor:pointer" *ngIf="!_auth.loggedIn()"  routerLink="/signup">Sign Up</a>

      </ul>
    </div>
  </nav>
  <div id="bg" class="container">
    <router-outlet></router-outlet>           
  </div>      
  
  