#bg {
    /* The image used */
background: blanchedalmond;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    color: #fff;
    background-size: 100% ;  
    background-size: cover;
    margin-top: auto; 
  }
  
