
<div class='card'>
    <form (ngSubmit)="editAuthor()" class='bg-pic'>
<div class='card-header'>
 ADD AUTHOR
</div>
<div class='card-body'>            
  <div class='table-responsive'>
    <table class='table'>       
    
      <tbody>  
          <tr>
              <td> <label>Author Id</label></td>
              <td><input type="text" name="a_id" [(ngModel)]="authorItem.authorid"/></td>                  
            </tr>   
            <tr>
                <td><label>Author</label></td>
                <td><input type="text" name="a_author" [(ngModel)]="authorItem.author"/></td>                  
              </tr>  
              <tr>
                <td><label><TItle></TItle></label></td>
                <td><input type="text" name="a_title" [(ngModel)]="authorItem.title"/></td>                  
              </tr>  
              <tr>
                <td><label>Genre</label></td>
                <td><input type="text" name="a_genre" [(ngModel)]="authorItem.genre"/></td>                  
              </tr>  
              <tr>
                
                <td><label>Author imageUrl</label></td>
                <td><input type="text" name="a_image" [(ngModel)]="authorItem.imageUrl"/></td>                  
              </tr>  
              <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>                  
              </tr>             
      </tbody>
    </table>
  </div>
</div>
</form>
</div>


